In [4]:
%pip install --upgrade DBcm

Requirement already satisfied: DBcm in c:\users\richie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1)
Requirement already satisfied: mysql-connector-python in c:\users\richie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from DBcm) (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\richie\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mysql-connector-python->DBcm) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import DBcm

In [6]:
credentials = {
    "host": "localhost",
    "database": "BlackjackDB",
    "user": "richard",
    "password": "richpassword"
}

In [7]:
with DBcm.UseDatabase(credentials) as db:    # database context manager: "db" is a database connection.
    SQL = "select * from user_game_statistics"
    db.execute(SQL)  # sends the SQL command to the server to run.
    results = db.fetchall()  # gets any results from the server.
# automatically closed the database connection.

In [8]:
import random

In [30]:
for _ in range(10):
    SQL = """
        insert into user_game_statistics
        (user, outcomes)
        values
        (%s, %s)
    """
    
    gamer = "Rooblan"
    outcome = random.choice(["Win", "Loss"])
    with DBcm.UseDatabase(credentials) as db:
        db.execute(SQL,(gamer,outcome))
        SQL = """select * from user_game_statistics"""
        db.execute(SQL)
        results = db.fetchall()

In [22]:

SQL = """
    delete from user_game_statistics
    where user = "Reacu"
"""
with DBcm.UseDatabase(credentials) as db:
    db.execute(SQL)
    SQL = """select * from user_game_statistics"""
    db.execute(SQL)
    results = db.fetchall()

In [31]:
results

[('Reacu', 'Loss'),
 ('Reacu', 'Win'),
 ('Reacu', 'Loss'),
 ('Reacu', 'Win'),
 ('Reacu', 'Win'),
 ('Reacu', 'Win'),
 ('Reacu', 'Win'),
 ('Reacu', 'Win'),
 ('Reacu', 'Win'),
 ('Reacu', 'Loss'),
 ('JosherFella', 'Loss'),
 ('JosherFella', 'Loss'),
 ('JosherFella', 'Loss'),
 ('JosherFella', 'Loss'),
 ('JosherFella', 'Win'),
 ('JosherFella', 'Loss'),
 ('JosherFella', 'Win'),
 ('JosherFella', 'Loss'),
 ('JosherFella', 'Loss'),
 ('JosherFella', 'Win'),
 ('Rooblan', 'Loss'),
 ('Rooblan', 'Loss'),
 ('Rooblan', 'Loss'),
 ('Rooblan', 'Win'),
 ('Rooblan', 'Loss'),
 ('Rooblan', 'Loss'),
 ('Rooblan', 'Loss'),
 ('Rooblan', 'Win'),
 ('Rooblan', 'Win'),
 ('Rooblan', 'Win')]

In [54]:
with DBcm.UseDatabase(credentials) as db:
    SQL = """
        select user from user_game_statistics
    """
    db.execute(SQL)
    tags = db.fetchall()

In [55]:
tags

[('Reacu',),
 ('Reacu',),
 ('Reacu',),
 ('Reacu',),
 ('Reacu',),
 ('Reacu',),
 ('Reacu',),
 ('Reacu',),
 ('Reacu',),
 ('Reacu',),
 ('JosherFella',),
 ('JosherFella',),
 ('JosherFella',),
 ('JosherFella',),
 ('JosherFella',),
 ('JosherFella',),
 ('JosherFella',),
 ('JosherFella',),
 ('JosherFella',),
 ('JosherFella',),
 ('Rooblan',),
 ('Rooblan',),
 ('Rooblan',),
 ('Rooblan',),
 ('Rooblan',),
 ('Rooblan',),
 ('Rooblan',),
 ('Rooblan',),
 ('Rooblan',),
 ('Rooblan',)]

In [51]:
tags = [ row[0] for row in tags ]
print(tags)

['R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'J', 'J', 'J', 'J', 'J', 'J', 'J', 'J', 'J', 'J', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R']

In [35]:
who = random.choice(tags)
who

'Reacu'

In [ ]:
def random_user():
    with DBcm.UseDatabase(credentials) as db:
        SQL = """
            select user from user_game_statistics
        """
        db.execute(SQL)
        tags = db.fetchall()
        tags = [ row[0] for row in tags ]
        who = random.choice(tags)
    return who

In [ ]:
gamer = random_user()
outcome = random.choice(["Win", "Loss"])
gamer, outcome

In [ ]:
for _ in range(500):
    SQL = """
        insert into user_game_statistics
        ( user, outcomes )
        values     
        (%s, %s)
    """
    user = random_user()
    outcome = random.choice(["Win", "Loss"])
    with DBcm.UseDatabase(credentials) as db:
        db.execute(SQL, (gamer, outcome, ))   # tuple.
        SQL = """select * from games"""
        db.execute(SQL)
        results = db.fetchall()
        ## print(results[-3:])

In [ ]:
len(results)

In [61]:
with DBcm.UseDatabase(credentials) as db:
    SQL = """select distinct user from user_game_statistics"""
    db.execute(SQL)
    tags = db.fetchall()
    print(len(tags))

3

In [62]:
tags

[('Reacu',), ('JosherFella',), ('Rooblan',)]

In [69]:
for tag in tags:
    with DBcm.UseDatabase(credentials) as db:    
        SQL = """
            select count(*) from user_game_statistics 
            where user = %s and outcomes = "Win"
        """
        db.execute(SQL, (tag ))   # single value, not a tuple.
        results = db.fetchone()  
        wins = results[0]
        SQL = """
            select count(*) from user_game_statistics 
            where user = %s and outcomes = "Loss"
        """
        db.execute(SQL, (tag ))   # single value, not a tuple.
        results = db.fetchone() 
        losses = results[0]

        SQL = """
    	    insert into user_statistics
            (user, win_rate)
            values
            (%s , %s)
    """
        winRatio = wins / (wins+losses)
        db.execute(SQL,(tag[0],winRatio,))

    ## print("Wins:", wins)
    ## print("Losses:", losses)
    
    print(tag, winRatio)
    print("-"*60)

('Reacu',) 0.7
------------------------------------------------------------
('JosherFella',) 0.3
------------------------------------------------------------
('Rooblan',) 0.4
------------------------------------------------------------